<% if @registrations.any? %>
  <!-- <h3>&nbsp;</h3> -->
  <div class="panel clearfix">
    <h5>Registrations (<%= @registrations.count %>)</h5>
    <ul class="side-nav">
			<table class="table">
			  <tr>
			    <th>Name</th>
			    <th>Rating</th>
			  </tr>

				<% @registrations.each do |registration| %>
				  <tr>
				    <td><%= link_to registration.name, student_path(registration) %></td>
				    <td><%= registration.rating.zero? ? "Unrated" : registration.rating %></td>
						<td><%= link_to 'Edit', edit_registration_path(registration), class: "button tiny radius" %></td>
				  </tr>
				<% end %>
			</table>
    </ul>
  </div>

<% else %>

  <div class="panel clearfix">
    <h5>No Registrations</h5>
  </div>
	
<% end %>

<% if @is_upcoming && @camp.registrations.count < @camp.max_students %>
	<%= render partial: "registration_form"%>
<% end %>
