<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :bio, input_html: { rows: 6 } %>
<div class="field">
  <%= f.label :picture %>
  <%= f.file_field :picture %>
</div>
<%= f.input :phone, as: :string %>
<%= f.input :email %>
<%= f.input :active %>
