  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
					<%= link_to image_tag('logo.png'), home_path %>
        </li>
      </ul>
			<section class="top-bar-section">
		    <ul class="right">
					<!-- camps tab -->
					<% if request.original_url.include?('camps') %>
		      	<li class="active"><%= link_to('Camps', camps_path) %></li>
					<% else %>
						<li><%= link_to('Camps', camps_path) %></li>
					<% end %>
					<!-- curriculums tab -->
					<% if request.original_url.include?('curriculums') %>
		      	<li class="active"><%= link_to('Curriculums', curriculums_path) %></li>
					<% else %>
						<li><%= link_to('Curriculums', curriculums_path) %></li>
					<% end %>
					<!-- instructors tab -->
					<% if request.original_url.include?('instructors') %>
		      	<li class="active"><%= link_to('Instructors', instructors_path) %></li>
					<% else %>
						<li><%= link_to('Instructors', instructors_path) %></li>
					<% end %>
		    </ul>
		  </section>
    </nav>
  </div>