  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
					<%= link_to image_tag('logo.png'), home_path %>
        </li>
      </ul>
			<section class="top-bar-section">
		    <ul class="right">
										
				  <% if logged_in? %>
						<% if current_user.role == 'admin' %>
							<%= render "partials/admin_tools" %>
						<% else %>
							<%= render "partials/instructor_tools" %>
						<% end %>
		      	<li class="has-form">
							<%= link_to("Log Out, #{current_user.instructor.proper_name}", logout_path, class: "small button") %>
						</li>
				  <% else %>
		      	<li class="has-form">
							<%= link_to('Log In', login_path, class: "small button") %>
						</li>
				  <% end %>
		    </ul>
		  </section>
    </nav>
  </div>